  /* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 600px;
}

.title {
  font-size: 18px;
  color: red;
}


#BtRenderingList > .card > .card-body {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
#BtRenderingList .itemCard .card-text {
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#BtRenderingList .itemCard .card-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 28rem;
}